* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

#app {
    height: 100%;
}

/* Form styles */
.form-container {
    height: 100%;
    background-image: url('./images/backgrounds/logIn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 600px;
    padding: 40px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
}
  
.form-box .user-box {
    position: relative;
    margin-bottom: 26px;
}
  
.form-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 4px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    background: transparent;
}

.form-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FFFFFF;
    pointer-events: none;
    transition: .5s;
}

.form-box .user-box input:valid ~ label,
.form-box .user-box input:focus ~ label {
    top: -20px;
    left: 0;
    color: #00BFFF;
    font-size: 12px;
}
  
.form-box form a {
    display: inline-block;
    border: 1px solid #00BFFF;
    padding: 10px 20px;
    margin-top: 20px;
    color: #00BFFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}
  
.form-box a:hover {
    background-color: #00BFFF;
    color: #FFFFFF;
}
  
.error {
    color: red;
    font-size: 12px;
}

/* Game Statistic */
.main {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('./images/backgrounds/enemy-1-bg.jpg');
}

.statistic {
    max-width: 60%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.statistic ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.statistic ul li {
    color: #FFFFFF;
    font-size: 30px;
    padding: 30px;
}

.game {
    max-width: 800px;
    margin: 80px auto;
}

.game__content {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enemy-agent {
    max-width: 100%;
    height: auto;
    text-align: center;
}

/* Bullet button */
.button-container {
    width: fit-content;
    margin: 0 auto;
}

button {
    padding: 0 15px 0 15px;
    font-size: 17px;
    font-weight: 700;
    text-shadow: 1px 1px 2.3px rgba(255,255,255, 0.8);
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 100% 9% 9% 100% / 0% 100% 100% 0%;
    border: none;
    background-image: linear-gradient(
                      180deg, #CDB373, #795E2B,
                      #AD8D53, #FFFAB7, #795D2F,
                      #614818, #BC9859, #876A35,
                      #736141);
}
  
button::before {
    content: '';
    height: 44px;
    width: 10px;
    position: absolute;
    top: -4.7%;
    left: -5.9%;
    border-radius: 100% 31% 28% 100% / 0% 100% 100% 0%;
    background-image: linear-gradient(
                      180deg, #CDB373, #795E2B,
                      #AD8D53, #FFFAB7, #795D2F,
                      #614818, #BC9859, #876A35,
                      #736141);
}
  
.bullet {
    height: 38px;
    width: 60px;
    position: absolute;
    top: 3%;
    left: 95%;
    border-radius: 10% 100% 100% 10% / 10% 50% 50% 10%;
    background-image: linear-gradient(
                      180deg, #512614, #A1623A,
                      #BA7447, #EDC38B, #B27449,
                      #DDAB77, #EAC4AE, #B67E4E,
                      #5B2D17, #44271C);
}
  
button:active .bullet {
    left: 115%;
    transition: all 0.2s;
}

/* Winner message */
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__container {
    width: 400px;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0,0,0,.8);
    border-radius: 20px;
}

.message__text {
    color: #FFFFFF;
    font-size: 30px;
}

.message__results {
    margin: 20px 0;
    color: #00BFFF;
    font-size: 25px;
}

.message__results p {
    padding: 4px 0;
}